<template>
  <div class="topbar-link" @click="$emit('click')">
    <div :class="['content', active && 'active']">
      <slot>{{ label }}</slot>
    </div>
    <div
      v-if="this.active"
      :class="['underline-stroke', active && 'active']"
    />
  </div>
</template>

<script>
export default {
  name: 'TopbarLink',
  props: {
    active: Boolean,
    label: String
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/main.scss';
.topbar-link {
  display: flex;
  flex-direction: column;
  margin: 0 27px;
  cursor: pointer;
  .content {
    @include RalewayFontFamily;
    margin: 3px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    color: $dark;
    transition: color 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    &:hover {
      color: $primary;
      transition: color 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    &.active {
      color: $primary;
    }
  }
  .underline-stroke {
    height: 3px;
    width: calc(100% - 6px);
    margin-top: 5px;
    margin: 5px 0 0 3px;
    background-color: transparent;
    @media (max-width: 599px) {
      width: 100%;
      margin: 5px 0 0 0;
    }
    &.active {
      background-color: $primary;
    }
  }
}
</style>
