<template>
  <div class="topbar">
    <div class="logo">
      <slot name="logo"/>
    </div>
    <button class="menu-btn" @click="toggleMenu">
      <unicon name="bars"/>
    </button>
    <div :class="[ 'menus', hideMenu && 'hidden' ]">
      <slot/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TopBar',
  data: () => ({ hideMenu: true }),
  methods: {
    toggleMenu () {
      this.hideMenu = !this.hideMenu
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/main.scss';
.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
  padding: 0;
  transition: all 1s ease-in-out;
  margin: $pageTopMargin $pageHorizontalPadding;
  .logo {
    height: 72px;
    @media (max-width: 640px) {
      height: 1.5em;
    }
    &>img {
      width: auto;
      max-width: 33vw;
      transition: all 1s ease-in-out;
      @media (max-width: 640px) {
        height: 1.5em;
      }
    }
  }
  .menu-btn {
    position: absolute;
    right: 3em;
    border: none;
    background-color: transparent;
    height: 3em;
    transition: all 1s ease-in-out;
    @media (min-width: 901px) {
      display: none;
    }
    @media (max-width: 640px) {
      height: 1.5em;
    }
  }
  .menus {
    display: flex;
    flex-direction: row;
    @media (max-width: 900px) {
      position: absolute;
      right: 1em;
      margin-top: 2em;
      flex-direction: column;
      align-content: flex-end;
      text-align: right;
      animation: fadeIn 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      &>div {
        margin-top: 1em;
      }
      &.hidden {
        display: none;
        opacity: 0;
      }
    };
  }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
</style>
