@import './variables.scss';
@import './mixins.scss';

@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700|Raleway:500,700&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background-color: $bg-color;
}
body {
  margin: 0;
  h1, h2, h3, h4, h5, h6 {
    @include MuliFontFamily();
    color: #29344a;
  }
  p, span, small {
    @include RalewayFontFamily();
    color: #29344a;
  }
}

.section-title {
  @include MuliFontFamily();
  font-size: 81px;
  @media (max-width: 1410px) {
    font-size: 64px;
  }
  @media (max-width: 1140px) {
    font-size: 48px;
  }
}
