@mixin MuliFontFamily {
  font-family: 'Muli', sans-serif;
}

@mixin RalewayFontFamily {
  font-family: 'Raleway', sans-serif;
}

@mixin LightShadow {
  box-shadow: 0 54px 60px 0 rgba(41, 52, 74, 0.12);
}
