$dark: rgba(0, 0, 0, 0.87);
$primary: #ac0b12;
$secondary: #2d82f2;
$ternary: #f3f3f5;
$bg-color: #fbfbfb;
$invertedText: white;
$pageHorizontalPadding: calc(100vw * calc(1 / 12));
$pageTopMargin: 24px;
$subtitle-color: rgba(41, 52, 74, 0.54);
body {
  --section-margin: 15.49vw;
}
