<template>
  <div
    class="icon"
    @click="$emit('click')">
    <unicon
      name="search"
      fill="#ac0b12"
      width="32px"
      height="32px"
    />
  </div>
</template>
<style lang="scss" scoped>
.icon {
  transform: scaleX(-1);
  cursor: pointer;
  @media (max-width: 960px) {
    width: 100%;
    text-align: center;
    margin-top: 16px;
  }
}
</style>
