<template>
  <span class="separator"/>
</template>

<script>
export default {
  name: 'BenefitSearchBarSeparator'
}
</script>

<style lang="scss" scoped>
.separator {
  width: 1px;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0.24;
  background-color: #29344a;
  @media(max-width: 960px) {
    display: none;
  }
}
</style>
