<template>
  <div
    class="benefit-dropdown"
    @click="$emit('click')">
    <div :class="['content', isActive]">
      <slot>
        {{ label }}
      </slot>
    </div>
    <div :class="['icon', isActive]">
      <unicon
        name="angle-down"
        width="32px"
        height="32px"
      />
    </div>
    <div v-if="counter > 0" class="counter-wrapper">
      <span class="counter">
        {{ counterValue }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BenefitDropDown',
  props: {
    label: String,
    active: Boolean,
    counter: Number
  },
  computed: {
    isActive () {
      return this.active && 'active'
    },
    counterValue () {
      const { counter } = this
      return counter < 10 ? counter : '9+'
    }
  }
}
</script>

<style lang="scss">
@import '../../styles/main.scss';
.benefit-dropdown {
  display: flex;
  padding: 0 2px;
  min-width: 185px;
  min-height: 24px;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  @media (max-width: 960px) {
    min-width: auto;
    margin: 0 0.6em;
  }
  .content {
    display: flex;
    align-items: center;
    @include RalewayFontFamily;
    font-size: 16px;
    &.active {
      color: $primary;
      font-weight: 600;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    margin-left: 8px;
    opacity: 0.24;
    &.active {
      opacity: 1;
      svg {
        fill: $primary;
      }
    }
  }
  .counter-wrapper {
    position: relative;
    &>.counter {
      position: absolute;
      top: -7px;
      right: -12px;
      background-color: $secondary;
      border-radius: 100%;
      padding: 3px;
      font-size: 14px;
      color: $invertedText;
      min-height: 15px;
      min-width: 15px;
      text-align: center;
      padding-top: 0;
    }
  }
}
</style>
