<script>
import BenefitSearchIcon from './BenefitSearchIcon'
import BenefitSearchBarSeparator from './BenefitSearchBarSeparator'

export default {
  name: 'BenefitSearchBar',
  components: { BenefitSearchIcon, BenefitSearchBarSeparator },
  render (h) {
    const separator = h('BenefitSearchBarSeparator')
    const children = this.$slots.default
      .map((el, idx, arr) => [ idx > 0 && separator, el ])
    const searchIcon = h('BenefitSearchIcon', {
      on: { click: () => this.$emit('submit') }
    })
    const menus = h('div', { class: 'menus' }, [children])
    const bar = h('div', {
      class: 'benefit-search-bar'
    }, [menus, searchIcon])
    return h('div', {
      class: 'benefit-search-bar-wrapper'
    }, [bar])
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/mixins.scss';

$borderRadiusSize: 10px;
.benefit-search-bar-wrapper {
  position: absolute;
  @include LightShadow();
  background-color: transparent;
  border-radius: $borderRadiusSize;
  border: solid 8px rgba(41, 52, 74, 0.04);
  width: auto;
  height: auto;
  .benefit-search-bar {
    display: flex;
    border-radius: $borderRadiusSize;
    background: white;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    padding: 13px;
    @media (max-width: 960px) {
      padding: 13px 0;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-content: center;
      align-items: flex-start;
    }
    .menus {
      display: flex;
      flex-direction: row;
    }
  }
}
</style>
