<template>
  <div class="counters">
    <template v-for="(count, name) in state">
      <span
        v-if="isLast(name)"
        :key="`separator-before-${name}`">
        |
      </span>
      <span :key="name">
        <span class="capitalized">
          {{ name }}:
        </span>
        <span>
          {{ count }}
        </span>
      </span>
    </template>
  </div>
</template>

<script>
export default {
  name: 'Counters',
  computed: {
    state () {
      const {
        categorias,
        empresas,
        onde
      } = this.$store.state
      return {
        categorias,
        empresas,
        onde
      }
    }
  },
  methods: {
    isLast (name) {
      const stateKeys = Object.keys(this.state)
      const isAfterFirst = stateKeys.indexOf(name) > 0
      return isAfterFirst
    }
  }
}
</script>

<style>

</style>
