<template>
  <div class="landing">
    <Header/>
    <BenefitSection/>
    <HowItWorksSection/>
  </div>
</template>

<script>
import Header from '@/components/Header/Header'
import BenefitSection from '@/components/Section/BenefitSection'
import HowItWorksSection from '@/components/Section/HowItWorksSection'

export default {
  name: 'LandingPage',
  components: {
    Header,
    BenefitSection,
    HowItWorksSection
  }
}
</script>
<style lang="scss" scoped>
.landing {
  display: flex;
  flex-direction: column;
}
</style>
