<template>
  <img
    :class="classNames"
    :src="src"
  />
</template>

<script>
export default {
  name: 'SlopedBackgroundImage',
  props: {
    watermark: Boolean,
    src: {
      type: String,
      required: true
    }
  },
  computed: {
    classNames () {
      return [
        'sloped-image',
        this.watermark && 'watermark'
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.sloped-image {
  width: 100%;
  clip-path: polygon(
    0 0,
    100% 0%,
    100% 100%,
    0 calc(100% - 15vw)
  );
  &.watermark {
    filter:
      brightness(1.25)
      contrast(0.5)
      opacity(0.2)
      saturate(0);
  }
}
</style>
