<template>
  <div class="bubbles">
    <template v-for="(img, k) in imageList">
      <RoundImage
        :class="`bubble`"
        :src="img"
        :key="k"
      />
    </template>
  </div>
</template>

<script>
import RoundImage from './RoundImage.vue'
import CoupleOnFallsImage from '../../assets/jpg/briona-baker-2CnZ19gQgak-unsplash.jpg'
import ForeheadKissImage from '../../assets/jpg/man-kissing-woman-forehead-Nathan-McBride.jpg'
import VacationOnLake from '../../assets/jpg/simon-migaj-b2qszO9C7sw-unsplash.jpg'

export default {
  name: 'Bubbles',
  components: { RoundImage },
  data () {
    return {
      imageList: [
        VacationOnLake,
        CoupleOnFallsImage,
        ForeheadKissImage
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.bubbles {
  position: relative;
  min-height: 120px;
  min-width: 120px;
  width: 100%;
  height: 100%;
  max-width: 50vw;
  max-height: 50vw;
  z-index: -30;
  &>.bubble {
    position: absolute;
    &:nth-child(1){
      margin-top: 20%;
      z-index: 10;
    }
    &:nth-child(2){
      margin-right: -5%;
      width: 60%;
      height: 60%;
      right: 0;
      z-index: 20;
    }
    &:nth-child(3){
      width: 30%;
      height: 30%;
      margin-top: -15%;
      left: 10px;
      z-index: 30;
    }
  }
}
</style>
