<template>
  <img :src="src" />
</template>

<script>
export default {
  name: 'RoundImage',
  props: {
    src: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
img {
  border: solid 8px #FFF;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 100%;
  object-fit: cover;
}
</style>
