<template>
  <div class="squared-grid"/>
</template>

<script>
export default {
  name: 'GridDotBackground'
}
</script>

<style lang="scss" scoped>
.squared-grid {
  background-image: url('../../assets/svg/squares.svg');
  background-repeat: repeat;
}
</style>
