<template>
  <header class="header">
    <div :class="['top-bar', scrollY > 20 && 'fixed' ]">
      <Topbar>
        <template v-slot:logo>
          <img class="logo-img" :src="Logo" alt="logo da empresa">
        </template>
        <TopbarLink active>Benefícios</TopbarLink>
        <TopbarLink>Ajuda</TopbarLink>
        <TopbarLink>Contato</TopbarLink>
        <TopbarLink>Entrar</TopbarLink>
      </Topbar>
    </div>
    <div class="background-image">
      <SlopedImage
        watermark
        :src="EmpireStatePicture"
      />
    </div>
  </header>
</template>

<script>
import SlopedImage from '../SlopedImage/SlopedImage.vue'
import TopbarLink from '../Topbar/TopbarLink.vue'
import Topbar from '../Topbar/Topbar.vue'
import Logo from '../../assets/png/ben-4-you-logo.png'
import EmpireStatePicture from '../../assets/jpg/empire-state-building-photo-by-jonathan-riley.jpg'

export default {
  name: 'Header',
  components: {
    SlopedImage,
    Topbar,
    TopbarLink
  },
  mounted () {
    window.addEventListener('scroll', this.updateScrollPosition)
  },
  data: () => ({
    Logo,
    EmpireStatePicture,
    scrollY: 0
  }),
  methods: {
    updateScrollPosition () {
      const { scrollY } = window
      this.scrollY = scrollY
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/main.scss';
.header {
  min-height: 120px;
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    margin: 0;
    z-index: -99;
    img {
      min-height: 8em;
    }
  }
  .top-bar {
    transition: all 1s ease-in-out;
    background-image: none;
    background-color: transparent;
    &.fixed {
      box-shadow: 0 24px 30px 0 rgba(41, 52, 74, 0.06);
      transition: all 1s ease-in-out;
      margin: 0;
      padding-top: 10px;
      z-index: 100;
      position: fixed;
      top: -10px;
      left: 0;
      right: 0;
      background-color: white;
      background-size: cover;
      background-blend-mode: lighten;
      &>.topbar {
        max-height: 2.5em;
        padding-top: 0.5em;
        transition: all 1s ease-in-out;
        &>.logo {
        height: 1em;
        transition: all 1s ease-in-out;
        &>img {
          max-height: 2em;
          width: auto;
        }
      }
      }
    }
  }
}
</style>
