<template>
  <div class="benefit-section">
    <div class="text-col">
      <h1 class="section-title">
        Encontre um benefício!
      </h1>
      <p class="subtitle">
        Descubra benefícios que você nem sabia
        que exisitam e cadastre-se para receber
        as novidades!
      </p>
      <BenefitSearchBar
        class="search-bar"
        @submit="navigateTo('counters')">
        <BenefitDropDown
          active
          @click="addCategoria"
          :counter="state.categorias"
          label="Categoria"
        />
        <BenefitDropDown
          @click="addEmpresa"
          :counter="state.empresas"
          label="Empresas"
        />
        <BenefitDropDown
          @click="addOnde"
          :counter="state.onde"
          label="Onde"
        />
      </BenefitSearchBar>
    </div>
    <div class="bubbles-col">
      <Bubbles />
    </div>
    <GridDotBackground class="dot-grid"/>
    <img class="black-cc" :src="BlackCreditCardImage"/>
  </div>
</template>

<script>
import BlackCreditCardImage from '../../assets/png/black-cc.png'
import BenefitSearchBar from '../BenefitSearchBar/BenefitSearchBar'
import BenefitDropDown from '../BenefitSearchBar/BenefitDropDown'
import GridDotBackground from '../GridDotBackground/GridDotBackground'
import Bubbles from '../RoundImage/Bubbles'

export default {
  name: 'BenefitSection',
  components: {
    BenefitDropDown,
    BenefitSearchBar,
    Bubbles,
    GridDotBackground
  },
  data () {
    return {
      BlackCreditCardImage
    }
  },
  computed: {
    state () {
      return this.$store.state
    }
  },
  methods: {
    addCategoria () {
      const { categorias } = this.$store.state
      this.$store.mutations.setCategorias(categorias + 1)
    },
    addEmpresa () {
      const { empresas } = this.$store.state
      this.$store.mutations.setEmpresas(empresas + 1)
    },
    addOnde () {
      const { onde } = this.$store.state
      this.$store.mutations.setOnde(onde + 1)
    },
    navigateTo (routePath) {
      this.$router.push(routePath)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/main.scss';
.benefit-section {
  position: relative;
  margin: 0 var(--section-margin);
  margin-top: 5em;
  min-width: 240px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 1;
  @media(max-width: 960px) {
    margin-bottom: calc(calc(960px - 100vw) / 2);
  }
  .dot-grid {
    position: absolute;
    top: 42px;
    left: calc(0px - var(--section-margin));
    width: 120px;
    height: 380px;
    @media (max-width: 960px) {
      left: calc(0px - var(--section-margin) - 70px);
    }
  }
  .black-cc {
    @include LightShadow();
    position: absolute;
    left: calc(100vw - var(--section-margin) - 162px);
    top: 239px;
    @media (max-width: 1024px) {
      left: calc(100vw - var(--section-margin) - 72px);
      width: 72px;
      height: auto;
    }
  }
  .text-col {
    flex-shrink: 2;
    z-index: 3;
    &>h1.title {
      font-size: 81px;
      line-height: 84px;
      word-wrap: normal;
      margin: 24px 0;
    }
    &>p.subtitle {
      @include MuliFontFamily();
      font-size: 25px;
      line-height: 32px;
      font-weight: 700;
      word-wrap: normal;
      color: $subtitle-color;
      @media (max-width: 960px) {
        font-size: 18px;
        line-height: 24px;
      }
    }
    &>.search-bar {
      position: absolute;
      left: -8px;
      @media (max-width: 960px) {
        left: -14vw;
        right: auto;
      }
    }
  }
  .bubbles-col {
    flex-shrink: 0;
    width: 32vw;
    height: 32vw;
    max-height: 60vh;
    max-width: 60vh;
    margin-left: -30px;
    margin-bottom: 20vh;
    z-index: 2;
  }
}
</style>
