<template>
  <div class="how-it-works-section">
    <div class="side-image">
      <img alt="happy woman eating healthy meal" :src="HowItWorksImage">
    </div>
    <div class="text-content">
      <div class="title">
        <h2 class="section-title">
          Como funciona?
        </h2>
      </div>
      <div class="text">
        <p>Você quer comprar algo mas não sabe se o seu cartão oferece garantia estendida? Gostaria de fazer um upgrade na reserva do hotel para onde você vai viajar? Está afim de jantar fora mas não sabe se o restaurante oferece algum benefício? O Ben4You está aqui pra isso!</p>
        <p class="benefit-list-title bold">Encontre benefícios para as seguintes categorias:</p>
        <ul class="benefit-list bold">
          <li>Assistência a veículos</li>
          <li>Assistência doméstica</li>
          <li>Bares & restaurantes</li>
          <li>Beleza & saúde</li>
          <li>Entretenimento</li>
          <li>Estacionamentos</li>
          <li>Hotéis</li>
          <li>Locação de automóveis</li>
          <li>Turismo</li>
          <li>E muito mais...</li>
        </ul>
      </div>
      <button class="btn" @click="booh">
        Explore os serviços
      </button>
      <GridDotBackground class="dot-grid"/>
      <div class="gray-credit-card">
        <img :src="GrayCreditCard" alt="gray credit card">
      </div>
    </div>
  </div>
</template>

<script>
import GridDotBackground from '../GridDotBackground/GridDotBackground'
import HowItWorksImage from '../../assets/png/img-how-it-works.png'
import GrayCreditCard from '../../assets/svg/gray-cc.svg'
export default {
  name: 'HowItWorksSection',
  components: { GridDotBackground },
  data () {
    return {
      HowItWorksImage,
      GrayCreditCard
    }
  },
  methods: {
    booh () {
      alert('buuh! Happy halloween!')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/main.scss';
.how-it-works-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: var(--section-margin);
  margin-top: 50px;
  margin-bottom: 20vh;
  right: 0;
  min-height: 624px;
  height: auto;
  background-color: $ternary;
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
  &>.side-image {
    margin-top: 72px;
    margin-left: calc(0px - var(--section-margin));
    height: 60%;
    min-width: 200px;
    @media (max-width: 960px) {
      width: calc(100vw / 3);
      margin-top: 50px;
    }
    @media (max-width: 600px) {
      margin-left: calc(-600px + 100vw - var(--section-margin));
    }
    &>img {
      height: auto;
      max-width: 100%;
    }
  }
  &>.text-content {
    position: absolute;
    left: calc(500px + 5vw);
    right: 0;
    @media (max-width: 960px) {
      left: calc(1em + 100vw / 3);
      padding-right: 1em;
      text-align: justify;
    }
    &>.title {
      @include MuliFontFamily();
      margin-top: -55px;
      @media (max-width: 1410px) {
        margin-top: -42px;
      }
      @media (max-width: 1140px) {
        margin-top: -32px;
      }
      &>.section-title {
        margin: 0;
      }
    }
    &>.text {
      font-size: 16px;
      margin-top: 24px;
      max-width: 46vw;
      line-height: 24px;
      @media (max-width: 900px) {
        font-size: 16px;
        line-height: 20px;
        margin-top: 20px;
        max-width: 60vw;
      }
      .bold {
        font-weight: 800;
      }
      &>.benefit-list-title {
        margin: 24px 8px;
      }
      &>ul.benefit-list {
        @include RalewayFontFamily();
        list-style: none;
        &>li {
          line-height: 1.6em;
          padding-left: 1.3em;
          &:before {
            content: '\2713';
            color: $primary;
            display: inline-block;
            margin-left: -1.3em;
            width: 1.3em;
          }
          &:last-child:before {
            content: '';
          }
        }
      }
    }
    &>.btn {
      @include RalewayFontFamily();
      @include LightShadow();
      color: $invertedText;
      background-color: $primary;
      font-size: 16px;
      text-transform: uppercase;
      padding: 24px;
      border: none;
      background-blend-mode: soft-light;
      background-image: linear-gradient(
        to bottom,
      rgba(255, 255, 255,0.25),
      rgba(0,0,0,0.25)
      );
      border-radius: 4px;
    }
    &>.dot-grid {
      position: absolute;
      left: calc(100% - 190px);
      top: 290px;
      width: 190px;
      height: 380px;
      @media (max-width: 960px) {
        left: -45vw;
      }
      @media (max-width: 600px) {
        left: calc(-750px + 100vw - var(--section-margin));
      }
    }
    &>.gray-credit-card {
      @include LightShadow();
      position: absolute;
      top: 38%;
      right: 4.2%;
      @media (max-width: 1200px) {
        top: calc(37% + 12vw);
        &>img {
          width: calc(32vw / 2);
          height: auto;
        }
      }
      @media (max-width: 960px) {
        top: 48%;
        left: -32vw;
        &>img {
          width: 32vw;
          height: auto;
        }
      }
    }
  }
}
</style>
